body {
    background-color: #f4f4f4; 
}

h1, h2 {
    color: #2c3e50; 
    font-family: 'Roboto', sans-serif; 
}

p {
    color: #34495e; 
    font-size: 18px;
    font-family: 'Arial', Helvetica, sans-serif;
}

section {
    margin: 40px auto;
    padding: 20px;
    max-width: 900px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease;
}

section:hover {
    background-color: #e0f7fa; 
}

header {
    background-color: #3498db; 
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

header h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #ffffff; 
}

header p {
    font-size: 18px;
    line-height: 1.6;
    color: #ecf0f1; 
}

.carousel-inner img {
    height: 700px;
    object-fit: cover;
    border-radius: 10px;
}

blockquote {
    font-size: 26px;
    color: #2980b9; 
    font-style: italic;
    text-align: center;
    margin: 20px 0;
    border-left: 5px solid #3498db; 
    padding-left: 20px;
}

#hobbies {
    font-size: 18px;
    color: #2c3e50; 
}

footer {
    background-color: #4077ad; 
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.5s;
}

footer:hover {
    background-color: #36b4e6; 
}

.icon-link {
    background-color: #3498db; 
    padding: 10px 20px;
    border-radius: 50px;
    
}

.button, .icon {
    transition: transform 0.3s ease;
    color: #162331;
}

.button:hover, .icon:hover {
    transform: scale(1.2);
    fill: #007bff; 
}

.box {
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: rgba(52, 152, 219, 0.1); 
}

footer .btn {
    background-color: #1e90ff; 
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer .btn:hover {
    background-color: #0a2e76; 
    transform: scale(1.05);
}

.carousel-item {
    transition: transform 1s ease-in-out;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: block;
    transition: transform 1s ease-in-out;
}
